<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Logo-Anis.png"
             class="img-responsive center-block"
             style="max-height:350px;padding-bottom:10px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Anisur Rahman</h3>
      </div>

      <div class="text-center">@githubanis</div>
      <div class="text-center">
        <a href="https://github.com/githubanis">https://github.com/githubanis</a>
      </div>
    </div>
  </div>
</div>
